@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Signup or Login</h1>
    <div>
        <a asp-controller="Register" asp-action="Index">Signup</a>
    </div>
    <div>
        <a asp-controller="Login" asp-action="Index">Login</a>
    </div>
</div>
